.single-product{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #eeba6c;
   padding: 15px;
   border-radius: 5px;
   margin: 10px 0;
}

.product-details-container{
   margin-left: 10px;
   flex-basis: 100%;
}

.bottom-part{
   display: flex;
   justify-content: space-between;
}

.addToCart-btn{
   margin: 0 auto;
   padding: 7px 40px;
   background-color: #ff9800;
   border: 1px solid rgba(0, 0, 0, 0.39);
   border-radius: 3px;
   cursor: pointer;
   display: block;
   margin: 20px 0 30px 0;
}

.addToCart-btn:hover{
   background-color: #da7707;
}